<div class="pokemon <%= types.map {|t| t.names["en"].downcase}.sort.join('-') %>">
  <div class="sprite"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= @pokemon.national_id %>.png"></div>

  <div class="types">
    <% @types.each do |type| %>
      <span class="type-badge <%= type.names["en"].downcase %>"><%=  type.names["en"]%></span>
    <% end %>
  </div>

  <div class="damage">
    <div class="banner">Weaknesses</div>
    <% @damage.each do |type, multiplier| %>
      <span class="damage-row <%= type.downcase %>"><%= multiplier %>x <%= type %></span>
    <% end %>
  </div>

  <div class="moves">
    <div class="banner">Moveset</div>
    <% @learnset.each do |move| %>
      <span class="move-row <%= move["type"] %>"><span class="move-level"><%= move["level"] %></span><%= move["move"] %></span>
    <% end %>
  </div>
</div>
